<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Travel</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    {% extends "base.html" %}

    {% set from = departures[departure] %}

    {% set sorted_by_price = tours.values() | sort(attribute="price") %}

    {% set sorted_by_nights = tours.values() | sort(attribute="night") %}

    {% block main %}

<main class="container mt-3">
    <h1 class="display-5 mt-4">Travel to City {{departure}}</h1>
    <p class="mb-4">Знайдено {{ tours|length }} Турів від {{(sorted_by_price|first).price}} UAH. до {{(sorted_by_price|last).price}} UAH.</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for id, tour in tours.items() %}
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ tour.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.title }}</h2>
            <p class="card-text">{{ tour.description }}</p>
            <a href="/tours/{{id}}" class="btn btn-sm btn-primary">Деталі туру</a>
          </div>
        </div>
      </div>
      {% endfor %}

  </main>
  {% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>